.buttons{
    display:flex;
    flex-direction:unset;
    justify-content:space-around;
    margin-right: 5px;
    padding: 5px;
}
.invalid
{
    color: red;
    font-size:11px;
    margin:3px;
    font-family:Verdana;
}
.griduser {
  border-radius: 10px;
  border-right: none;
  border-top: none;
  border-bottom: none;
  font-size:14px;
}
.formuser {
  border-radius: 10px;
  border-left: 8px #007bff solid;
  border-right: none;
  border-top: none;
  border-bottom: none
}
